<nav class="navbar">
  <ul class="nav-menu">
    <li><a href="/">Schizo Studios</a></li>

    <li class="dropdown">
      <a class="dropbtn" href="/music/">Music ▾</a>
      <div class="dropdown-content">
        <a href="/music/">Music Home</a>
      </div>
    </li>

    <li class="dropdown">
       <a class="dropbtn" href="/helping-spirits/">Helping Spirits ▾</a>
      <div class="dropdown-content">
        <a href="/helping-spirits/">Helping Spirits Division</a>
      </div>
    </li>


    <li class="dropdown">
      <a class="dropbtn" href="/podcasts/">Podcasts ▾</a>
      <div class="dropdown-content">
        <a href="/podcasts/">Podcasts Home</a>
      </div>
    </li>

    <li class="dropdown">
      <a class="dropbtn" href="/soundcraft/">SoundCraft ▾</a>
      <div class="dropdown-content">
        <a href="/soundcraft/">Overview</a>
        <a href="/soundcraft/engine/">Engine</a>
      </div>
    </li>

    <li class="dropdown">
      <a class="dropbtn" href="/lightcraft/">LightCraft ▾</a>
      <div class="dropdown-content">
        <a href="/lightcraft/">Overview</a>
        <a href="/lightcraft/gallery/">Gallery</a>
      </div>
    </li>

    <li><a href="https://shop.schizostudios.org">Shop</a></li>

    <li><a href="/docs/">Docs</a></li>
  </ul>
</nav>
