[submodule "music/music/astroenergies-www"]
	path = music/music/astroenergies-www
	url = https://github.com/CraftingBuilds/astroenergies-www
[submodule "music/astroenergies/astroenergies-www"]
	path = music/astroenergies/astroenergies-www
	url = https://github.com/CraftingBuilds/astroenergies-www
